@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
      111% 111% at 74.29% -11%,
      #a93300 0%,
      #005570 100%
    ),
    linear-gradient(127.43deg, #00d5c8 0%, #2200aa 100%);
  background-blend-mode: difference, normal;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
